* {
  box-sizing: border-box;
}

button {
  width: 60px;
  height: 60px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.display {
  display: flex;
  justify-content: flex-end;
  font-size: 50px;
  padding-right: 15px;
}

.button-group {
  display: flex;
}

.stretch {
  flex-grow: 3;
}
